text ::-webkit-search-decoration 
*{
    font-family: 'Courier New', Courier, monospace;
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
li{
    font-size: 30px;
    color: rgb(87, 103, 170);
    display: inline;
    padding: 0px 10px;
}
ul{
    list-style: none;


}

#about{
    font-size: 30px;
    color: rgb(255, 60, 0);
    text-align: center;
}
#resume{
    font-size: 30px;
    color: rgb(255, 60, 0);
    text-align: center;

}
#work{
    font-size: 30px;
    color: rgb(255, 60, 0);
    text-align: center;
}
#contact{
    font-size: 30px;
    color: rgb(255, 60, 0);
    text-align: center;
}